html {
  background-color: black;
  height: 100%;
  transition: background-color 0.5s;
}

body {
  min-height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: whitesmoke;
}

.container {
  margin: 2.5% 5%;
  padding: 2.5% 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.subtitle {
  margin-top: -15px;
}

ul {
  list-style-type: none;
}

a {
  color: cornflowerblue;
  transition: 0.2s;
}

a:hover {
  color: palevioletred;
}

a:visited {
  color: purple;
}

.uoftblue {
  color: #00204E;
}

.footer {
  color: gray;
  width: 100%;
  text-align: center;
}

.email {
  color: #00204E;
  transition: 0.2s;
}

.email:hover {
  color: #bb133e;
}

.space {
  margin-top: 20px;
}

.tabbed {
  text-indent: 20px;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
}

.navpad{
  margin-top: 73px;
}

.hidden {
  display: none;
}

.sticky a, .sticky button{
  color: #FFFFFF;
}

.sticky a:hover, .sticky a:active{
  background-color: #00204E !important;
  color: #ffffff;
}

.project-showcase {
  overflow: hidden;
  text-align: center;
}

.project-showcase img{
  width: 100%;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  background-color: #00204E;
}

.overlay:hover {
  opacity: 0.95;
}

.overlay p{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-10%, -50%);
  -ms-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%);
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px){
  .overlay p{
    top: 10%;
    left: 10%;
    -webkit-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
}