html {
  background-color: black;
  height: 100%;
  transition: background-color 0.5s;
}

body {
  min-height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: whitesmoke;
}

.container {
  margin: 2.5% 5%;
  padding: 2.5% 5%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.subtitle {
  margin-top: -15px;
}

li {
  padding: 0.125em;
}

.nav ul {
  list-style-type: none;
}

h2 i {
  margin: 0.25em;
  margin-left: 0;
  padding: 0.25em;
  padding-left: 0;
}

i {
  margin-left: -20px;
}

a {
  transition: 0.1s;
  text-decoration: none;
}

a:link {
  color: cornflowerblue;
}

a:visited {
  color: plum;
}

a:hover {
  color: palevioletred;
}

.uoftblue {
  color: #00204E;
}

.footer {
  color: gray;
  width: 100%;
  text-align: center;
}

.email {
  transition: 0.2s;
}

.email:hover {
  color: #bb133e;
}

.space {
  margin-top: 20px;
}

.tabbed {
  text-indent: 20px;
}

.nav {
  font-size: larger;
  padding: 0.5em;
}

.nav li {
  display: inline;
  padding: 0 0.5em;
}

.nav a{
  text-decoration: none;
}

.nav a:visited {
  color: whitesmoke;
}

.nav a:link {
  color: whitesmoke;
}

.nav a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.project-showcase {
  overflow: hidden;
  text-align: center;
}

.project-showcase img{
  width: 100%;
}

.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease;
  background-color: #00204E;
}

.overlay:hover {
  opacity: 0.95;
}

.overlay p{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-10%, -50%);
  -ms-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%);
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 768px){
  .overlay p{
    top: 10%;
    left: 10%;
    -webkit-transform: translate(-5%, -5%);
    -ms-transform: translate(-5%, -5%);
    transform: translate(-5%, -5%);
  }
}