@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html {
  background-color: black;
  height: 100%;
  transition: background-color 0.5s;
}

body {
  min-height: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  color: whitesmoke;
  margin: 0;
  margin-top: 65px;
}

.container {
  margin: 0 10%;
}

.header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0.75em 0;
  background-color: rgba(0, 0, 0, 0.90);
  width: 100%;
  display: inline;
}

.header h3 {
  margin: 0;
  padding: 0;
}

.motd {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

.entry {
  padding: 1em 0;
}

.entry p {
  padding-top: 0.5em;
}

.entry h3, h4, h5 {
  margin: 0.25em;
}

.entry h2 {
  padding-top: 65px;
  margin-top: -65px;
}

a {
  transition: 0.1s;
  text-decoration: none;
}

a:link {
  color: cornflowerblue;
}

a:visited {
  color: plum;
}

a:hover {
  color: palevioletred;
}

.footer {
  color: gray;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em 0;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #bbb;
}

.email {
  transition: 0.2s;
}

.email:hover {
  color: #bb133e;
}

.navlinks {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navlinks a {
  margin: 0 0.5em;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a{
  text-decoration: none;
}

.nav a:visited {
  color: whitesmoke;
}

.nav a:link {
  color: whitesmoke;
}

.nav a:hover {
  text-decoration: underline;
}

.navbutton {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  font-size: large;
  font-family: inherit;
  padding: 0;
  display: none;
}

.navrows {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}

.navrows a {
  flex-grow: 1;
  padding: 0.25em 0;
  font-size: large;
}

.hidden {
  display: none;
}

.howdy {
  text-align: center;
  padding: 100px 0;
}

.howdy h1, h2 {
  padding: 0;
  margin: 0;
}

.project {
  display: flex;
  padding-top: 1.25em;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.project-header {
  padding-top: 1em;
}

.project-description-container {
  width: 45%;
}

.project-description-container p:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.project-image-container {
  display: flex;
  width: 40%;
  align-items: center;
  text-align: center;
}

.project-image-container img {
  margin: auto;
  display: flex;
  max-width: 100%;
  max-height: 66vh;
  object-fit: contain;
}

@media screen and (max-width: 768px){
  body {
    font-size: medium;
  }

  .container {
    margin: 0 5%;
  }

  .navbutton {
    display: initial;
  }

  .navlinks a {
    display: none;
  }

  .navrows {
    display: flex;
  }

  .project {
    flex-direction: column-reverse;
  }

  .project-description-container {
    width: 100%;
    padding: 1em 0;
  }

  .project-image-container {
    width: 100%;
    padding: 1em 0;
  }
}
