main#content figure img {
    max-height: 90vh;
}

#motd {
    cursor: pointer;
    user-select: none;
    transition: color 0.1s, background-color 0.1s;
}

#motd:hover {
    color: #121212;
    background-color: white;
}

#motd-break {
    display: none;
}

@media (min-width: 500px) {
    #motd-break {
        display: inline;
    }
}